<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Demande de réparation</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="page-title">Bénéficier d’une</p>
  <p class="page-title">réparation certifiée</p>

    <ion-row class="ion-justify-content-center mt-50 ">

      <ion-col size="12" class="form-card ">
        <p class="form-card-label">Marque</p>
        <input [value]="markName" (click)="markRef.open()" placeholder="Choisir la marque de votre appareil" class="form-card-input"  type="text"/>

        <ion-select [(ngModel)]="markId" class="input" #markRef  (ionChange)="onMarkSelect()">
          <ion-select-option  *ngFor="let mark of marks" value="{{mark.markId}}">{{mark.name}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Modéle</p>
        <input [value]="modelName" (click)="modelRef.open()" placeholder="Choisir le modèle de votre appareil" class="form-card-input"  type="text"/>

        <ion-select [(ngModel)]="modelId" class="input" #modelRef  (ionChange)="onModelSelect()">
          <ion-select-option   *ngFor="let model of models" value="{{model.modelId}}">{{model.name}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Article</p>
        <input [value]="articleName" (click)="ArticleRef.open()" placeholder="Choisir votre appareil" class="form-card-input"  type="text"/>

        <ion-select [(ngModel)]="articleId" class="input" #ArticleRef  (ionChange)="onArticleSelect()">
          <ion-select-option   *ngFor="let article of articles" value="{{article.id}}">{{article.name}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Numéro de série</p>
        <input placeholder="Taper le IMEI de l’appareil" class="form-card-input"  [(ngModel)]="imei" type="text"/>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Pièce a réparer</p>
        <input [value]="partName" (click)="PartRef.open()" placeholder="choisir la pièce a réparer" class="form-card-input"  type="text"/>

        <ion-select [(ngModel)]="partId" class="input" #PartRef (ionChange)="onPartSelect()">
          <ion-select-option  *ngFor="let part of parts" value="{{part.id}}">{{part.name}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Prix</p>
        <input [value]="priceName"  (click)="PriceRef.open()" placeholder="choisir le prix de piéce" class="form-card-input"  type="text"/>

        <ion-select [(ngModel)]="priceId" class="input" #PriceRef (ionChange)="onPriceSelect()">
          <ion-select-option  *ngFor="let price of prices" value="{{price.id}}">{{price.quality + " " + price.price + " DT"}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Détails de la panne</p>
        <input placeholder="Mentionner les détails de votre panne" class="form-card-input" [(ngModel)]="details" type="text"/>
      </ion-col>

      <ion-col size="12" size-sm="7" class="ion-no-padding ion-margin-top">
        <ion-button (click)="next()" class="btn-primary"  expand="block" [disabled]="isAllVariablesExists()">confirmer la demande</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
