<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Demande de réparation</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="page-title">Bénéficier d’une</p>
  <p class="page-title">réparation certifiée</p>

    <ion-row class="ion-justify-content-center mt-50 ">

      <ion-col size="12" class="form-card ">
        <p class="form-card-label">Marque</p>
        <input onfocus="blur();" [value]="markName" (click)="markRef.open()" placeholder="Choisir la marque de votre appareil" class="form-card-input"  type="text"/>
        <ion-item class="input">
          <ion-label>Sélectionner une marque</ion-label>
          <ion-select [(ngModel)]="markId"  #markRef  (ionChange)="onMarkSelect()">
            <ion-select-option  *ngFor="let mark of marks" value="{{mark.markId}}">{{mark.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Modéle</p>
        <input onfocus="blur();" [value]="modelName" (click)="modelRef.open() && showModelAlert()" placeholder="Choisir le modèle de votre appareil" class="form-card-input"  type="text"/>
        <ion-item class="input">
          <ion-label>Sélectionner une modèle</ion-label>
          <ion-select [(ngModel)]="modelId" #modelRef  (ionChange)="onModelSelect()">
            <ion-select-option   *ngFor="let model of models" value="{{model.modelId}}">{{model.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Article</p>
        <input onfocus="blur();" [value]="articleName" (click)="ArticleRef.open() && showArticleAlert()" placeholder="Choisir votre appareil" class="form-card-input"  type="text"/>
        <ion-item class="input">
          <ion-label>Sélectionner un apareil</ion-label>
            <ion-select [(ngModel)]="articleId"  #ArticleRef  (ionChange)="onArticleSelect()">
              <ion-select-option   *ngFor="let article of articles" value="{{article.articleId}}">{{article.name}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Numéro de série </p>
        <input placeholder="Taper le IMEI de l’appareil (non obligatoire)" class="form-card-input"  [(ngModel)]="imei" type="text"/>
      </ion-col>

      <ion-col size="12" class="form-card">
        <ion-item>
          <ion-label class="form-card-label">Je demande un diagnostics</ion-label>
          <ion-toggle (ionChange)="onDiagnosticSelect($event)" color="secondary"></ion-toggle>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card" *ngIf="!isDiangnosticExist">
        <p class="form-card-label">Pièce a réparer</p>
        <input  onfocus="blur();" [value]="partName" (click)="PartRef.open()" placeholder="choisir la pièce a réparer" class="form-card-input"  type="text"/>
        <ion-item class="input">
          <ion-label>Sélectionner une piéce</ion-label>
          <ion-select [(ngModel)]="partId"  #PartRef (ionChange)="onPartSelect()">
            <ion-select-option  *ngFor="let part of parts" value="{{part.id}}">{{part.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card"  *ngIf="!isDiangnosticExist">
        <p class="form-card-label">Prix</p>
        <input  onfocus="blur();" [value]="priceName"  (click)="PriceRef.open()" placeholder="choisir le prix de piéce" class="form-card-input"  type="text"/>
        <ion-item class="input">
          <ion-label>Sélectionner une piéce</ion-label>
            <ion-select [(ngModel)]="priceId" #PriceRef (ionChange)="onPriceSelect()">
              <ion-select-option  *ngFor="let price of prices" value="{{price.id}}">{{price.quality + " " + price.price + " DT"}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="form-card">
        <p class="form-card-label">Détails de la panne</p>
        <input placeholder="Mentionner les détails de votre panne (non obligatoire)" class="form-card-input" [(ngModel)]="details" type="text"/>
      </ion-col>

      <ion-col size="12" class="ion-no-padding ion-margin-top">
        <ion-button (click)="next()" class="btn-primary"  expand="block" [disabled]="!isAllVariablesExists()">Suivant</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
