<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="primary" slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Demande de réparation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-vertical-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="dateForm">
      <form [formGroup]="dateForm">
        <ng-template matStepLabel>Choisir une date</ng-template>

        <ion-datetime pickerFormat="YYYY-MM-DD" class="input" formControlName="date" display-timezone="utc" (ionChange)="tesr()"></ion-datetime>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="markForm">
      <form [formGroup]="markForm">
        <ng-template matStepLabel>Choisir une marque</ng-template>
          <ion-select class="input" formControlName="mark"  (ionChange)="selectModels()">
            <ion-select-option  *ngFor="let mark of marks" value="{{mark.markId}}">{{mark.name}}</ion-select-option>
          </ion-select>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="modelForm">
      <form [formGroup]="modelForm">
        <ng-template matStepLabel>Choisir une modéle</ng-template>
        <ion-select class="input" formControlName="model" (ionChange)="selectArticles()">
          <ion-select-option *ngFor="let model of models" value="{{model.modelId}}">{{model.name}}</ion-select-option>
        </ion-select>
        <div>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="articleForm">
      <form [formGroup]="articleForm">
        <ng-template matStepLabel>Choisir un article</ng-template>
        <ion-select class="input" formControlName="article" >
          <ion-select-option *ngFor="let article of articles" value="{{article.id}}">{{article.name}}</ion-select-option>
        </ion-select>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="partForm">
      <form [formGroup]="partForm">
        <ng-template matStepLabel>Choisir une piéce</ng-template>
        <ion-select class="input" formControlName="part" (ionChange)="selectPrices()" >
          <ion-select-option *ngFor="let part of parts" value="{{part.id}}">{{part.name}}</ion-select-option>
        </ion-select>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="priceForm">
      <form [formGroup]="priceForm">
        <ng-template matStepLabel>Choisir un prix</ng-template>
        <ion-select class="input" formControlName="price"  >
          <ion-select-option *ngFor="let price of prices" value="{{price.id}}">{{price.quality + "  " + price.price + 'DT'}}</ion-select-option>
        </ion-select>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>

  <ion-button (click)="sendRequest()" [disabled]="!markForm.valid || !modelForm.valid || !articleForm.valid || !partForm.valid || !priceForm.valid || !dateForm.valid">
    confimer la demande
  </ion-button>
</ion-content>
