<app-menu>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="gsm-main-home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="gsm-main-products">
          <ion-icon name="basket-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="gsm-main-requests" *ngIf="role == 'CLIENT'">
          <ion-icon name="construct-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="gsm-main-reparation-requests" *ngIf="role == 'REPAIRER'">
          <ion-icon name="construct"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="gsm-main-profile" *ngIf="role == 'CLIENT' || role == 'REPAIRER' ">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</app-menu>
