.PENDING {
  padding: 8px 15px;
  background-color : var(--ion-color-warning)
}

.ACCEPTED {
  padding: 8px 15px;
  background-color : var(--ion-color-success)
}

.REFUSED {
  padding: 8px 15px;
  background-color : var(--ion-color-danger)
}
