<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="secondary" slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Mon profile</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon color="secondary" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-grid class="ion-margin-top" *ngIf="client">

    <div class="form-header ion-text-center">
      <img (click)="onPickImageChoice()" [src]=" imageSrc ? imageSrc : ( client?.image ? URL + client.image : './../../../../assets/image/default-profile.png') " alt="image"  class="form-header-img" >
      <p class="form-header-name">{{client?.firstname + " " + client?.lastname}}</p>
    </div>

    <ion-row *ngIf="imageSrc">
      <ion-col size="6">
        <ion-button (click)="onSaveImage()" class="btn-primary" expand="block" >
          Sauvgarder
        </ion-button>
      </ion-col>
      <ion-col size="6" >
        <ion-button (click)="onCancelImage()" class="btn-secondary" expand="block">
          Annuler
        </ion-button>
      </ion-col>
    </ion-row>

    <form [formGroup]="form" class="ion-margin-top">
      <ion-row class="ion-justify-content-center ion-padding">

        <ion-col size="12" size-sm="7" class="form-card">
          <p class="form-card-label">Nom</p>
          <input class="form-card-input"  formControlName="lastname" type="text"/>
        </ion-col>

        <ion-col size="12" size-sm="7" class="form-card">
          <p class="form-card-label">Prénom</p>
          <input class="form-card-input"  formControlName="firstname" type="text"/>
        </ion-col>

        <ion-col size="12"  size-sm="7" class="form-card">
          <p class="form-card-label">Numéro de Téléphone</p>
          <input  class="form-card-input" formControlName="phone"  type="number"/>
        </ion-col>

        <ion-col size="12" size-sm="7" class="form-card">
          <p class="form-card-label">Nom d'utilisateur</p>
          <input class="form-card-input"  formControlName="username" type="text" disabled/>
        </ion-col>

        <ion-col size="12" size-sm="7" class="ion-no-padding ion-margin-top">
          <ion-button (click)="update()" class="btn-primary"  expand="block" [disabled]="!form.valid">Sauvgarder</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <app-errors [exist]="error" [message]="'Une erreur est survenue essayer plus tard'" [icon]="'bug-outline'"></app-errors>

</ion-content>

