.auth {

  font-family: Roboto-Regular;
  --background: var(--ion-color-light);

  &-image {
    width: 220px;
  }

  &-text {
    color: var(--ion-color-light);
    width: 300px;
  }

  &-link {
    font-weight: bold;
    color: var(--ion-color-primary);
    width: 300px;
  }

  ion-grid{
    height: calc(100vh - 56px);
  }

  .login-input{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    height: 45px;
    border-radius: 4px;
    border : none;
    color: var(--ion-color-dark);
    font-size: 95% ;
    outline : none ;
  }

}





