.page {
    &-title {
        font-size: 25px;
        font-family: "Poppins-Bold" ;
        &-primary {
          color: var(--ion-color-primary);
        }

        &-light {
            color: var(--ion-color-light);
        }
    }

    &-welcome {
        margin-bottom: 20px !important;
        font-size: 20px;
        font-family: "Poppins-Medium" ;
        color: var(--ion-color-primary);
    }
}
