.product{
  &-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
  }

  &-name {
    margin-bottom: 0 !important;
    font-size: 17px;
    color: var(--ion-color-secondary);
    font-family: "Poppins-bold" ;
  }

  &-status {
    margin-bottom: 0 !important;
    font-size: 13px;
    color: var(--ion-color-medium);
    font-family: "Poppins-Regular" ;
  }

  &-price {
    font-size: 15px;
    color: var(--ion-color-tertiary);
    font-family: "Poppins-bold" ;
  }

  &-description {
    font-size: 14px;
    color: var(--ion-color-medium);
    font-family: "Poppins-Regular" ;
  }

  &-description-title {
    color: var(--ion-color-secondary);
    font-family: "Poppins-bold" ;
  }
}


