<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button routerLink='/gsm-main'>
        <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="auth">
  <ion-grid >

    <ion-row >
      <ion-col class="ion-text-center" size="12">
        <img class="auth-image" src="../../../assets/image/logo.png" alt="logo">
      </ion-col>
    </ion-row>

    <form [formGroup]="form" >
      <ion-row class="ion-justify-content-center">

        <ion-col size="10" size-sm="7" class="ion-no-padding">
          <label class="auth-label">Nom</label>
          <input formControlName="lastname" class="auth-input" type="text" />
        </ion-col>

        <ion-col  size="10" size-sm="7" class="ion-no-padding mt-10" >
          <label class="auth-label">Prénom</label>
          <input formControlName="firstname" class="auth-input" type="text" />
        </ion-col>

        <ion-col size="10" size-sm="7" class="ion-no-padding mt-10">
          <label class="auth-label">Numéro de téléphone</label>
          <input formControlName="phone" class="auth-input" type="number"  />
        </ion-col>

        <ion-col size="10" size-sm="7" class="ion-no-padding mt-10">
          <label class="auth-label">Nom d'utilisateur</label>
          <input formControlName="username" class="auth-input" type="text" />
        </ion-col>

        <ion-col size="10" size-sm="7" class="ion-no-padding mt-10">
          <label class="auth-label">Mot de passe</label>
          <input formControlName="password" class="auth-input" type="password" />
        </ion-col>

        <ion-col class="mt-15" size="10" size-sm="7" >
          <ion-button (click)="onRegister()" class="btn-primary" expand="block" [disabled]="!form.valid">Créer un compte</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
