<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="primary" slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">GSM GUIDE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

</ion-content>
