<ion-split-pane contentId="main" >

  <ion-menu side="start" menuId="profile" contentId="main"  type="overlay">
    <ion-content>

      <div class="menu-header">
        <ion-row  class="no-margin ion-padding ion-justify-content-center ion-align-items-center" >
            <img class="menu-header-img" src="assets/image/logo.png" alt="logo" />
        </ion-row>
      </div>

      <ion-list lines="none" class="menu-container">

        <ion-menu-toggle menu="profile" >
          <ion-item class="menu-item-text" (click)="navigate('/login')"  detail="false">
            <ion-icon class="menu-item-logo" slot="start" name="log-in-outline"></ion-icon>Se Connecter
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="profile" >
          <ion-item class="menu-item-text"  (click)="navigate('/register')" detail="false">
            <ion-icon class="menu-item-logo" slot="start" name="person-add-outline"></ion-icon>S'inscrire
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle menu="profile" >
          <ion-item class="menu-item-text"  (click)="logout()" detail="false">
            <ion-icon class="menu-item-logo" slot="start" name="log-out-outline"></ion-icon>Se Déconnecter
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main" class="full-width">
    <ng-content></ng-content>
  </div>

</ion-split-pane>
