.btn-primary {
  --border-radius: 20px;
  --box-shadow: none ;
  height: 40px ;
  font-size: 15px !important;
  font-weight: normal;
  font-family: "Poppins-Regular" !important;
}

.btn-secondary {
  --border-radius: 20px;
  --box-shadow: none ;
  height: 40px ;
  font-size: 15px !important;
  font-weight: normal;
  font-family: "Poppins-Regular" !important;
  --background: var(--ion-color-secondary);
  color: var(--ion-color-light);
}

.btn-secondary-tint {
  --border-radius: 20px;
  --box-shadow: none ;
  height: 40px ;
  font-size: 15px !important;
  font-weight: normal;
  font-family: "Poppins-Regular" !important;
  --background: var(--ion-color-secondary-tint);
  color: var(--ion-color-light);
}

.btn-light {
  --border-radius: 20px;
  --box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.05);
  height: 45px ;
  font-size: 15px !important;
  text-transform: none;
  color: var(--ion-color-secondary);
  --background: white;
  font-family: "Poppins-Regular" !important;

}
