.product-card {
    border-radius: 20px ;
    box-shadow: -1px 33px 50px -10px rgba(0,0,0,0.2);

    ion-card-header {
        padding: 12px !important;
    }

    &-title {
        height: 45px;
        font-size: 12px !important;
        --color	: var(--ion-color-dark) ;
        font-family: 'Poppins-bold' ;
        overflow-y : scroll;
        line-height: 16px;
    }

    &-price {
        padding-top: 10px ;
        font-size: 13px !important;
        font-weight: bold ;
        color: var(--ion-color-tertiary) ;
        font-family: 'Poppins-Medium' ;
    }

    &-curreny {
        font-size: 8px !important;
    }
}





.request-card {

    margin-top: 50px;
    box-shadow: -1px 33px 50px -10px rgba(0,0,0,0.1);
    border-radius: 20px ;

    &-title {
        font-size: 16px !important;
        font-family: "Poppins-Bold" !important;
    }

    &-text {
        font-size: 12px !important;
        font-family: "Poppins-Regular" !important;
    }
}

.home-card {

    border-radius: 20px ;
    background: var(--ion-color-light);
    padding: 10px 0;
    width: 190px;
    box-shadow: -1px 33px 50px -10px rgba(0,0,0,0.1);

    margin-bottom: 100px;
    &-title {
        margin-top: 20px !important;
        margin-bottom: 5px !important;
        color: var(--ion-color-secondary);
        font-size: 14px !important;
        font-family: "Poppins-Medium" !important;
    }

    &-text {
        color: var(--ion-color-secondary);
        font-size: 11px !important;
        font-family: "Poppins-Regular" !important;
        line-height: 15px;
        padding: 0 10px;
    }

    &-img {
        height: 80px !important;
    }
}

.form-card {
    border-radius: 20px ;
    background: var(--ion-color-light);
    padding: 15px;
    margin: 5px 0;
    box-shadow: -1px 26px 86px -28px rgba(0,0,0,0.57);

    &-label {
        font-size: 14px;
        font-family: "Poppins-bold" !important;
    }

    &-text {
        font-size: 12px;
        font-family: "Poppins-Regular" !important;
        margin: 0 !important ;
    }

    &-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 12px;
        font-family: "Poppins-Regular" !important;
        background: var(--ion-color-light);
    }

    &-img {

        &-logo {
            font-size: 30px;
        }

        &-text {
            font-size: 13px;
            font-family: "Poppins-Regular" !important;
        }
    }

    &-number {
        font-size: 13px;
        margin-bottom: 0 !important;
    }

    &-icon {
        font-size: 20px;
        color: var(--ion-color-primary);
    }
}

.form-card-dark {

    border-radius: 20px ;
    background: var(--ion-color-secondary-tint);
    padding: 15px;
    margin: 5px 0;
    box-shadow: -1px 26px 86px -28px rgba(0,0,0,0.57);

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--ion-color-light);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: var(--ion-color-light);
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: var(--ion-color-light);
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--ion-color-light);
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color:var(--ion-color-light);
    }

    ::placeholder { /* Most modern browsers support this now. */
        color: var(--ion-color-light);
    }

    &-label {
        font-size: 14px;
        font-family: "Poppins-bold" !important;
        color: var(--ion-color-light);
    }

    &-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 12px;
        font-family: "Poppins-Regular" !important;
        background: var(--ion-color-secondary-tint);
        color: var(--ion-color-light) !important;
    }

}

.form-header{

    &-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &-name {
        margin-top: 10px !important;
        font-size: 18px;
        font-family: "Poppins-Regular" !important;
    }
}
