.custom-input {
  border: .5px solid lightgray;
  &.disabled {
    --background: lightgray;
  }
}

.input{
  height: 0;
  //visibility: hidden;
  padding: 0;
  //width: 100%;
  //border: none ;
  //border-radius: 20px;
  //box-shadow: 1px 0 5px 2px rgba(0,0,0,0.05);
  //height: 45px ;
  //font-size: 15px !important;
  //
  //padding-top: 5px;
  //padding-bottom: 5px;
  //padding-left: 5px;
  //background: var(--ion-color-light);
  //color: var(--ion-color-dark);
  //outline : none ;
  //transition: 0.3s;
  //&:focus {
  //  border : 2px solid var(--ion-color-primary);
  //}
}

.search {
  width: 100%;
  border: none ;
  border-radius: 20px;
  box-shadow: 1px 0 5px 2px rgba(0,0,0,0.05);
  height: 45px ;
  font-size: 12px !important;
  padding-left: 30px ;
  font-family: "Poppins-Regular";
  color: #b6b3b3;
  background: white;
}
