.menu-container {
  min-height: calc(100vh - 257px) ;
  //background-color: var(--ion-color-primary) !important;
}

.menu-header {
  //background-color: var(--ion-color-primary) !important;
  border-bottom: 1px solid var( --ion-color-light-shade);

  &-img {
    width: 150px;
  }
}

ion-item{
  //--padding-start : 30px ;
  //--background :  var(--ion-color-primary) ;
  //--color: var( --ion-color-light) ;
  //--color-focused: var( --ion-color-light) ;

  ion-label {
    font-size: 13px;
  }

}

ion-menu.md ion-item.selected {
  //--background:  var(--ion-color-primary-shade) ;
}
