.menu {
  &-container {
    //margin-top: 10px;
  }

  &-header {
    border-bottom: 1px solid var( --ion-color-light-shade);

    &-img {
      width: 150px;
    }
  }

  &-item {
    &-text {
      font-family: "Poppins-Regular" !important;
      border: none ;
      border-radius: 22px;
      box-shadow: 1px 0 5px 2px rgba(0,0,0,0.05);
      font-size: 13px !important;
      --padding-start: 0;
      margin: 20px 30px;
      color: var(--ion-color-secondary);
    }

    &-logo {
      color: white;
      background: var(--ion-color-secondary);
      padding: 10px;
      border-radius: 50%;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
    }
  }
}





ion-menu.md ion-item.selected {
  //--background:  var(--ion-color-primary-shade) ;
}
