.state-info {
  border-radius: 10px;
  padding: 5px  10px;
  color: var(--ion-color-light);
  background-color: var(--ion-color-primary);
}

.state-success {
  border-radius: 10px;
  padding: 5px  10px;
  color: var(--ion-color-light);
  background-color: var(--ion-color-success);
}

.state-danger {
  border-radius: 10px;
  padding: 5px  10px;
  color: var(--ion-color-light);
  background-color: var(--ion-color-danger);
}


