.success {
  --background : var(--ion-color-success-shade) ;
  text-align: center ;
}

.danger {
  --background : var(--ion-color-danger-shade ) ;
  text-align: center ;
}

.info {
  --background : var(--ion-color-primary ) ;
  text-align: center ;
}
