<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="secondary" slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Marketplace</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon color="secondary" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
<!--    <ion-segment value="products" (ionChange)="segmentChanged($event)">-->
<!--      <ion-segment-button value="products">-->
<!--        <ion-label>Market Place</ion-label>-->
<!--      </ion-segment-button>-->
<!--      <ion-segment-button value="myProducts">-->
<!--        <ion-label>Mes Produits</ion-label>-->
<!--      </ion-segment-button>-->
<!--    </ion-segment>-->

<!--    <ion-searchbar showCancelButton="always"-->
<!--                   searchIcon="search"-->
<!--                   placeholder="Recherche"-->
<!--                   >-->
<!--    </ion-searchbar>-->

    <ion-row class="ion-padding">
      <ion-col size="12" >
        <input class="search" (input)="getProducts()" placeholder="Rechercher l'article qui vous désirer">
      </ion-col>

      <ion-col size="6" >
        <ion-button (click)="openAddProductModal()" class="btn-light" expand="block" >
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Vendre
        </ion-button>
      </ion-col>
      <ion-col size="6" >
        <ion-button (click)="openAddProductModal()" class="btn-light" expand="block" >
          <ion-icon slot="start" name="options-outline"></ion-icon>
          Filtre
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="height: calc(100vh - 270px ) ; overflow: scroll" class="ion-padding">

      <ion-col size="6" *ngFor="let product of products" class="ion-no-padding">
        <ion-card (click)="openProductDetailModal(product)" class="card" >
          <div class="ion-text-center">
            <img [src]="URL + product.image"  class="full-width"/>
          </div>
          <ion-card-header>
            <ion-card-subtitle class="card-title">{{product.name}}</ion-card-subtitle>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <span class="card-price">{{product.price + ' DT'}}</span>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>
