<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="secondary" slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Marketplace</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon color="secondary" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
  <ion-col  class="ion-no-padding ion-no-margin"  size="12" size-sm="8">
    <ion-row style="padding: 10px;" class="ion-no-padding ion-no-margin">

      <ion-col size="12" >
        <input class="search" (input)="getProducts()" placeholder="Rechercher l'article qui vous désirer">
      </ion-col>

      <ion-col size="6" class="pl-5">
        <ion-button (click)="openAddProductModal()" class="btn-light" expand="block" >
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Vendre
        </ion-button>
      </ion-col>

      <ion-col size="6" class="pr-5">
        <ion-button (click)="openAddProductModal()" class="btn-light" expand="block" >
          <ion-icon slot="start" name="options-outline"></ion-icon>
          Filtre
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-col>
</ion-row>

<ion-content class="ion-no-padding ion-no-margin" >

    <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
      <ion-col size="12" size-sm="8">

        <ion-row class="ion-no-padding ion-no-margin"  >

          <ion-col size="6" *ngFor="let product of products" class="ion-no-padding">
            <ion-card (click)="openProductDetailModal(product)" class="product-card" >
              <div class="ion-text-center">
                <img [src]="URL + product.image"  class="full-width"/>
              </div>
              <ion-card-header>
                <ion-card-subtitle class="product-card-title">{{product.name}}</ion-card-subtitle>
                <ion-row class="ion-justify-content-between ion-align-items-center">
                  <span class="product-card-price">{{product.price}} <span class="product-card-curreny">DT</span></span>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </ion-row>
      </ion-col>
    </ion-row>

</ion-content>
