/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom styles */
@import "assets/styles/components/input";
@import "assets/styles/components/toast";
@import "assets/styles/components/badge";
@import "assets/styles/components/scroll";
@import "assets/styles/components/toolbar";
@import "assets/styles/components/menu";
@import "assets/styles/components/button";
@import "assets/styles/components/card";


@import "assets/styles/pages/auth.scss" ;
@import "assets/styles/pages/profile.scss";
@import "assets/styles/pages/generic-page";
@import "assets/styles/pages/product-details";

@import "assets/styles/utilities";

/* Font */
@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}


.home {
  --background:  center / cover no-repeat url("assets/image/background.png") #fff;
}

ion-segment-button {
  --margin-end: 20px ;
  text-transform: none;
  font-family: "Poppins-Regular";
  --color-checked : var(--ion-color-secondary) ;
  --color : var(--ion-color-medium) ;
  --padding-bottom: 5px ;

}

.segment-button-checked{
  font-family: "Poppins-Medium";
  padding-bottom: 0;
  --border-width:0px;
  --indicator-color-checked: 0;
}

.tab-selected {
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.08);
}

ion-tab-button {
  --ripple-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary);
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  max-width: 70px !important;
}
