:host {

  .row {
    margin: 20px 20px 0 20px !important;
  }

  .title {
    font-weight: 400;
    font-size: 130%;
    color : #112d4e;
    text-transform: uppercase;
    margin: 0;
    display: block;
  }

  .title-icon {
    padding: 14px 15px 12px 15px ;
    border-radius: 5px ;
    background-color: #dbe2ef ;
    color : #112d4e ;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    transition: 0.4s ;
    outline: none !important;
    cursor: pointer;
  }

  .title-icon:hover {
    background-color: #3f72af;
    color : #f9f7f7 ;
  }

  mat-sidenav-container {
    min-height: calc(100vh - 124px);
  }

  mat-sidenav {
    border: none !important;
    z-index: 5;
    width: 240px ;

    background: #f9f7f7;
    .sidenav {

      .active {
        color: #525252;
        background-color: #e2e0e0;
      }

      mat-list-item {
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 92%;
        color : #525252;
        margin: 20px;
        border-radius: 3px;
        transition: 0.4s;
        outline: none;
        cursor: pointer;

        &:hover:not(.active) {
          background-color: #e5e3e3;
        }

        span {
          margin-right: 15px;
        }

      }
    }
  }

  mat-sidenav-content {
    min-height: calc(100vh - 124px);
  }


}
