<div class="dialog-container">

  <p class="dialog-title" *ngIf="!data.isEditMode">Ajouter un modéle</p>
  <p class="dialog-title" *ngIf="data.isEditMode">Modifier le modéle</p>

  <form [formGroup]="form" class="row justify-content-center align-items-center p-4 pt-3">

    <div class="col-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input  formControlName="name" matInput type="text" required>
        <mat-error *ngIf="!form.hasError('required')">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 mt-1" >
      <button *ngIf="!data.isEditMode" class="submit-btn full-width" (click)="add()" [disabled]="!form.valid" >
        Ajouter
      </button>
      <button *ngIf="data.isEditMode" class="submit-btn full-width" (click)="update()" [disabled]="!form.valid" >
        Sauvgarder
      </button>
    </div>
  </form>

</div>
