.dashboard {
  padding-top: 20px;
  display: flex;
  overflow: scroll
}

.marks {
  background: #f3bcbc;
  text-align: center;
  padding: 20px 15px 15px;
}

.model {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.article {
  padding-top: 5px;
  p {
    font-size : 12px ;
    margin-bottom: 5px !important;
  }
}
