.dashboard {
  padding: 10px;
  display: flex;
  overflow: scroll
}

.marks {
  background: #f3bcbc;
  padding-top: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.model {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.article {
  padding-top: 10px;
  padding-bottom: 10px;
}
