<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Nouvelle annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">

    <form [formGroup]="form" class="ion-margin-top">
      <ion-row class="ion-justify-content-center ion-padding">

        <ion-col size="12" class="ion-text-center form-card"  (click)="onPickImageChoice()" >
          <ion-icon *ngIf="!imageSrc"  class="form-card-img-logo" name="camera-outline"></ion-icon>
          <p *ngIf="!imageSrc"  class="form-card-img-text" >Ajouter une photo</p>
          <img *ngIf="imageSrc" class="form-card-img" [src]="imageSrc" />
        </ion-col>

        <ion-col size="12" class="form-card">
          <p class="form-card-label">Nom du produit</p>
          <input placeholder="Taper le titre de votre article" class="form-card-input"  formControlName="name" type="text"/>
        </ion-col>

        <ion-col size="12" class="form-card">
          <p class="form-card-label">Description</p>
          <textarea rows="3" placeholder="Mentionner les détails de votre article" class="form-card-input"  formControlName="description" type="text"></textarea>
        </ion-col>

        <ion-col size="12" class="form-card">
          <p class="form-card-label">Prix</p>
          <input placeholder="Taper le prix de l'article" class="form-card-input" formControlName="price"  type="number"/>
        </ion-col>

        <ion-col size="12" class="form-card">
          <p class="form-card-label">Etat</p>
          <input placeholder="Original, neuf, occation" class="form-card-input"  formControlName="status"  type="text"/>
        </ion-col>

        <ion-col size="12" size-sm="7" class="ion-no-padding ion-margin-top">
          <ion-button (click)="add()" class="btn-primary"  expand="block" [disabled]="!form.valid || !imageSrc">Publier</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
