<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Nos Marques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <p class="page-title ion-padding ion-padding-top" *ngIf="!loading && marks?.length > 0" >Marques</p>

  <ion-segment mode="md" (ionChange)="segmentChanged($event)" scrollable="true" value="{{segment}}" *ngIf="!loading && marks?.length > 0">
    <ion-segment-button *ngFor="let mark of marks " value="{{mark?.markName}}" >
      <ion-label>{{mark?.markName}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  *ngIf="!loading && marks?.length > 0" class="ion-padding">
    <div *ngFor="let mark of marks ">
      <ion-row  *ngIf="segment == mark?.markName" >
        <ion-col size="12" class="form-card">
          <ion-row *ngFor="let shortcut of mark?.shortcuts">
            <ion-col size="12"><p class="form-card-label m-0">{{shortcut?.name}}</p></ion-col>
            <ion-col size="11"><p class="form-card-number" >{{shortcut?.code}}</p></ion-col>
            <ion-col size="1">
              <ion-icon (click)="call(shortcut.code)" class="form-card-icon" name="call"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <app-errors [exist]="marks?.length == 0 && !loading && !error" [message]="'Aucun alias trouvé'" [icon]="'arrow-undo-outline'"></app-errors>
  <app-errors [exist]="error" [message]="'Une erreur est survenue essayer plus tard'" [icon]="'bug-outline'"></app-errors>

</ion-content>
