<ion-content fullscreen="true" class="auth">
  <ion-grid style="padding-top: calc((100vh - 500px) / 2)">

    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <img class="auth-image" src="../../../assets/image/logo.png" alt="logo">
      </ion-col>
    </ion-row>

    <form [formGroup]="form" >
      <ion-row class="ion-justify-content-center">

        <ion-col size="10" size-sm="7" class="ion-no-padding">
          <label class="auth-label">Nouveau mot de passe</label>
          <input formControlName="password" class="auth-input" type="text"/>
        </ion-col>

        <ion-col size="10" size-sm="7" class="ion-no-padding">
          <label class="auth-label">Confimer le mot de passe</label>
          <input formControlName="confirmPassword" class="auth-input" type="text"/>
        </ion-col>

        <ion-col class="mt-10" size="10" size-sm="7" >
          <ion-button (click)="send()" class="btn-primary" expand="block" [disabled]="!form.valid">Envoyer</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
