<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
    <ion-button routerLink='/gsm-main'>
      <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="auth">
  <ion-grid style="padding-top: calc((100vh - 650px) / 2)">

    <ion-row class="ion-justify">
      <ion-col class="ion-text-center" size="12">
        <img class="auth-image" src="../../../assets/image/logo.png" alt="logo">
      </ion-col>
    </ion-row>


    <form [formGroup]="loginForm" >
      <ion-row>

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3" >
          <input formControlName="username" class="login-input" type="text" placeholder="Nom d'utilisateur" />
        </ion-col>

        <ion-col class="mt-10" size="10" size-sm="6" offset="1" offset-sm="3">
          <input formControlName="password" class="login-input" type="password" placeholder="Mot de passe" />
        </ion-col>

        <ion-col class="mt-15" size="10" size-sm="6" offset="1" offset-sm="3">
          <ion-button (click)="onLogin()" color="primary" expand="full" [disabled]="!loginForm.valid">Se Connecter</ion-button>
        </ion-col>

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3">
          <ion-button color="light" expand="full" routerLink="/gsm-register" >S'inscrire</ion-button>
        </ion-col>

        <ion-col class="ion-text-center signup_p" size="10" size-sm="6" offset="1" offset-sm="3">
          <p class="auth-text">Mot de passe oublié <span class="auth-link" routerLink="/gsm-send-password-code">cliquez  ici</span></p>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>


</ion-content>
