
.dashboard {
  padding-top: 20px;
  display: flex;
  overflow: scroll
}

.marks {
  background: #bcc9f3;
  text-align: center;
  padding: 20px 15px 15px;
}

.shortcuts {
  width: 300px;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
