<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Liste des demandes</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="page-title" *ngIf="!loading && requests?.length > 0">Faire le suivie</p>
  <p class="page-title" *ngIf="!loading && requests?.length > 0">de vos demandes !</p>

  <div *ngIf="!loading && requests?.length > 0">
    <ion-row>
      <ion-col *ngFor="let request of requests" size="12" class="form-card">
        <ion-row  (click)="openDetailsModal(request)" >
          <ion-col size="6"><p class="form-card-label">Date: {{ request.date | date}}</p></ion-col>
          <ion-col size="6">
            <p class="form-card-label" >
              <span [ngClass]="getSateColor(request.state)">{{ getSateText(request.state)}}</span>
            </p>
          </ion-col>
        </ion-row>
        <p class="form-card-text">{{ "Adresse de récupération : " + request.location}}</p>
      </ion-col>
    </ion-row>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <app-errors [exist]="requests?.length == 0 && !error && !loading" [message]="'Aucune demande trouvée'" [icon]="'calendar-outline'"></app-errors>
  <app-errors [exist]="error && !loading" [message]="'Une erreur est survenue essayer plus tard'" [icon]="'bug-outline'"></app-errors>

</ion-content>
