<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Espace Réparation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding  *ngFor="let request of requests">
      <ion-item-options side="end">
        <ion-item-option (click)="openDetails()">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="openStatus(request)">
          <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>
          <h3>Etat de la demande</h3>
          <p>{{ "Apareil " + request.mark + ' ' + request.model + ' ' + request.article }}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
