.color {
  color: #00ffff ;
  //color: #f0ffff ;
  //color: #f5f5dc ;
  color: #000000 ;
  color: #0000ff ;
  color: #a52a2a ;
  color: #00ffff ;
  color: #00008b ;
  color: #008b8b ;
  color: #a9a9a9 ;
  color: #006400 ;
  color: #bdb76b ;
  color: #8b008b ;
  color: #556b2f ;
  color: #ff8c00 ;
  color: #9932cc;
  color: #8b0000 ;
  color: #e9967a ;
  color: #9400d3 ;
  color: #ff00ff ;
  color: #ffd700 ;
  color: #008000;
  color: #4b0082;
  color: #f0e68c;
  color: #add8e6;
  //color: #e0ffff;
  color: #90ee90;
  color: #d3d3d3;
  color: #ffb6c1;
  //color: #ffffe0;
  color: #00ff00;
  color: #ff00ff;
  color: #800000;
  color: #000080;
  color: #808000;
  color: #ffa500;
  color: #ffc0cb;
  color: #800080;
  color: #800080;
  color: #ff0000;
  color: #c0c0c0;
  //color: #ffffff;
  color: #ffff00;
}
