<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Demande de réparation</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="page-title">Prenez rendez-vous</p>
  <p class="page-title">pour la réparation</p>
  <p class="page-title">de votre Apapreil</p>
</ion-content>
