<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="onToggleMenu('profile')">
        <ion-icon color="secondary" slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Espace Réparation</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon color="secondary" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="ion-no-margin ion-no-padding ion-justify-content-center">
    <ion-col size="12"  size-sm="7" class="ion-no-margin ion-no-padding">
      <p class="page-title ion-padding-top">Assurer la réparation</p>
      <p class="page-title">de votre téléphone avec</p>
      <p class="page-title">notre équipe <span class="page-title-primary" >professionnel</span> </p>

      <ion-row class="request-card" (click)="openAddRequestModal()">
        <ion-col size="6" class="ion-align-self-center ion-padding">
          <h5 class="request-card-title">Demande de réparation</h5>
          <p class="request-card-text">Vous pouvez presque tout vendre sur Guide Gsm</p>
        </ion-col>
        <ion-col size="6">
          <img class="request-card-img" src="assets/image/request_image_2.png">
        </ion-col>
      </ion-row>

      <ion-row class="request-card" (click)="openRequestsListModal()">
        <ion-col size="6" class="ion-align-self-center ion-padding">
          <h5 class="request-card-title">liste des demandes</h5>
          <p class="request-card-text">Vous pouvez presque tout vendre sur Guide Gsm</p>
        </ion-col>
        <ion-col size="6">
          <img class="request-card-img" src="assets/image/request_image_1.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
