<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Espace Réparation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoggedIn">
  Lazem login

</ion-content>

<ion-content *ngIf="isLoggedIn">
  <ion-button (click)="openAddProductModal()">Demande de réparation</ion-button>
</ion-content>
